$color_font-main: #767676;
$color_font-1: #969696;
$color_font-btn-calulartor: #707070;
$color_font-btn-1: #ffffff;
$color_font-date: #9ac2e3;
$color_operation: #e623cf;
$color_calculator-button: #a7d4fa;
$color_background-btn-clear:  #faa7a7;
$color_background-container:  #f7f7f7;
$color_background-header:  #ffffff;
$color_shadow-1: rgba(100, 100, 100, 0.2);
$color_border-1: #dcdee2;